<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.preethzcodez.ecommerce">

    <application
        android:icon="@drawable/ic_logo_detta"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo_detta"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity
            android:name=".activities.MapsActivity"
            android:label="@string/title_activity_maps" />

        <activity android:name=".activities.ClientGallary" />
        <activity android:name=".activities.SplashScreen" />
        <activity android:name=".activities.LoadActivity" />
        <activity android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".activities.Orders" />
        <activity android:name=".activities.OrderDetails" />
        <activity android:name=".activities.ShoppingCart" />
        <activity android:name=".activities.ProductDetails" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB03U42Dmhrzi9adgKzrCqTeL97vNRWZQI" />

        <service android:name=".service.SyncDBPrices" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>